body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:32px;
  top:10px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:52px;
  width:389px;
  height:790px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:790px;
}
#u3 {
  position:absolute;
  left:2px;
  top:387px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:166px;
  width:84px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:108px;
  top:331px;
  width:231px;
  height:247px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:247px;
}
#u7 {
  position:absolute;
  left:2px;
  top:116px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:184px;
  top:245px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:170px;
  top:686px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:160px;
  top:579px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:173px;
  top:301px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:218px;
  top:324px;
  width:10px;
  height:63px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:63px;
}
#u17 {
  position:absolute;
  left:219px;
  top:514px;
  width:10px;
  height:63px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:63px;
}
#u18 {
  position:absolute;
  left:143px;
  top:651px;
  width:161px;
  height:11px;
  font-family:'PingFangSC-Thin', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:11px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:83px;
  top:637px;
  width:287px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:270px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:287px;
  height:1px;
}
#u21 {
  position:absolute;
  left:469px;
  top:52px;
  width:389px;
  height:790px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:790px;
}
#u22 {
  position:absolute;
  left:2px;
  top:387px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:622px;
  top:166px;
  width:84px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:624px;
  top:245px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:612px;
  top:686px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:523px;
  top:651px;
  width:292px;
  height:11px;
  font-family:'PingFangSC-Thin', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:11px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:523px;
  top:637px;
  width:287px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:270px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:287px;
  height:1px;
}
#u32 {
  position:absolute;
  left:523px;
  top:597px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:577px;
  top:597px;
  width:30px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:631px;
  top:597px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:680px;
  top:597px;
  width:30px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:732px;
  top:597px;
  width:30px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:783px;
  top:597px;
  width:30px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:573px;
  top:593px;
  width:38px;
  height:38px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:540px;
  top:290px;
  width:249px;
  height:263px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:263px;
}
#u47 {
  position:absolute;
  left:2px;
  top:124px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:918px;
  top:52px;
  width:389px;
  height:790px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:790px;
}
#u49 {
  position:absolute;
  left:2px;
  top:387px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1071px;
  top:166px;
  width:84px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1074px;
  top:245px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1002px;
  top:310px;
  width:224px;
  height:252px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:252px;
}
#u55 {
  position:absolute;
  left:2px;
  top:118px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:970px;
  top:637px;
  width:287px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:270px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:287px;
  height:1px;
}
#u57 {
  position:absolute;
  left:1008px;
  top:650px;
  width:220px;
  height:11px;
  font-family:'PingFangSC-Thin', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:8px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:11px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:1084px;
  top:686px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:970px;
  top:690px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:522px;
  top:688px;
  width:37px;
  height:14px;
  font-family:'PingFangSC-Thin', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:359px;
  top:165px;
  width:14px;
  height:24px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:351px;
  top:161px;
  width:32px;
  height:38px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u68 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:794px;
  top:165px;
  width:14px;
  height:24px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:786px;
  top:161px;
  width:32px;
  height:38px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1246px;
  top:163px;
  width:14px;
  height:24px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1238px;
  top:159px;
  width:32px;
  height:38px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
}
#u76 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:474px;
  top:10px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:924px;
  top:10px;
  width:378px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:27px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:374px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1360px;
  top:52px;
  width:920px;
  height:736px;
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:736px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
